
<form method="post" action="/result">

<p>
<select name="sex">
<option value="0">男性</option>
<option value="1">女性</option>
</select>
</p>

<p>年齢<input type="text" maxlength="2" name="age"></p>
<p><input type="submit" value="検索結果"></p>
</form>

