
<h2>年齢、性別を選択してください</h2>
指定条件に合った、楽天市場のランキングtop30を表示します。
<p>
<form method="post" action="/result">

<p>
<select name="sex">
<option value="0">男性</option>
<option value="1">女性</option>
</select>
</p>

<p>
<select name="age">
<option value="10">10代</option>
<option value="20">20代</option>
<option value="30">30代</option>
<option value="40">40代</option>
<option value="50">50代</option>
</select>

<p><input type="submit" value="検索結果"></p>
</form>

