<h2>urlを以下のように指定することでその値に応じたデータが取得できます</h2>

<form method="get">

<p>
<select name="性別">
<option value=“0”>男性</option>
<option value=“1">女性</option>
</select>
</p>

<p>年齢<input type="text" maxlength="2" name="年齢"></p>
<p><input type="submit" value="検索結果"></p>
</form>




http://*****/性別/年齢<br>
性別　0：男性　1:女性<br>
年齢　2桁で入力
